.role-container{
    .action{
        i{
            font-size: 25px;
            margin-right: 13px;
            cursor: pointer;
           
        } .add{
            color: rgb(51, 154, 69);
        }
        .delete{
            color: #d51818;
        }

    }
}