

/* CSS tùy chỉnh để căn giữa nút */
.center-button {
    text-align: center;
    vertical-align: middle;
    .butondangki{
        width: 80px;
        height: 37px;
       
    }
}.center-button {
    text-align: center;
    vertical-align: middle;
    .da-dang-ki{
        width: 115px;
        height: 40px;
       
    }
    .dang-ki-nhom{
        width: 70px;
        height: 35px;
    }
    
}
.huynhom{
    width: 120px;
    height: 38px;
   // margin-right: 250px;
}