.manage-users-container{
    .bd{
        padding-right: 5px;
    } 
    button{
        margin-right: 8px;
    }
} 
.role-container{
    .action{
        i{
            font-size: 32px;
            margin-right: 13px;
            cursor: pointer;
           
        } .add{
            color: rgb(6, 175, 133);
        }
        .delete{
            color: #d51818;
        }

    }
}
